{
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "spread": true
    }
  },
  "extends": "airbnb-base/legacy",
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-use-before-define": "off",
    "no-param-reassign": "off",
    "linebreak-style": "off"
  }
}
